

@media only screen and (min-width:992px){


h1{
	font-size:3em;
}
h3{
	font-size:2em;
}

p{color:black;
	font-size:18px;}
	blockquote{
	color:maroon;
	font-style:italic;
}
a:hover{
	color:black;

}
a:link{
	color:maroon;
}
a:visited{
	color:#0033ff;
}
a:active{
	color:maroon;
	
}

header{
	height: 4em;
}


.support{
	top:4.9em;
	left:3%;
	font-weight: solid;
	
	}
	.calculator{
        width:30%;}


}